In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')
import re
from nltk.corpus import stopwords
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
df=pd.read_csv('D:\ML Project\zomato.csv')

In [3]:
df.head(2)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari

In [4]:
df.shape

(51717, 17)

Now the next step is data cleaning and feature engineering for this step we need to do a lot of stuff with the data such as:

Deleting Unnecessary Columns
Removing the Duplicates
Remove the NaN values from the dataset
Changing the column names
Data Transformations
Data Cleaning
Adjust the column names

In [5]:
df=df.drop(['url','dish_liked','phone'], axis=1)

In [6]:
df.head(50)

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
5,"37, 5-1, 4th Floor, Bosco Court, Gandhi Bazaar...",Timepass Dinner,Yes,No,3.8/5,286,Basavanagudi,Casual Dining,North Indian,600,"[('Rated 3.0', 'RATED\n Food 3/5\nAmbience 3/...",[],Buffet,Banashankari
6,"19/1, New Timberyard Layout, Beside Satellite ...",Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8,Mysore Road,Casual Dining,"North Indian, South Indian, Andhra, Chinese",800,"[('Rated 5.0', 'RATED\n Awesome food ??Great ...",[],Buffet,Banashankari
7,"2469, 3rd Floor, 24th Cross, Opposite BDA Comp...",Onesta,Yes,Yes,4.6/5,2556,Banashankari,"Casual Dining, Cafe","Pizza, Cafe, Italian",600,"[('Rated 5.0', 'RATED\n I personally really l...",[],Cafes,Banashankari
8,"1, 30th Main Road, 3rd Stage, Banashankari, Ba...",Penthouse Cafe,Yes,No,4.0/5,324,Banashankari,Cafe,"Cafe, Italian, Continental",700,"[('Rated 3.0', ""RATED\n I had been to this pl...",[],Cafes,Banashankari
9,"2470, 21 Main Road, 25th Cross, Banashankari, ...",Smacznego,Yes,No,4.2/5,504,Banashankari,Cafe,"Cafe, Mexican, Italian, Momos, Beverages",550,"[('Rated 4.0', ""RATED\n Easy to locate\nVFM 3...",[],Cafes,Banashankari
10,"12,29 Near PES University Back Gate, D'Souza N...",CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,402,Banashankari,Cafe,Cafe,500,"[('Rated 4.0', 'RATED\n We ended up here on a...",[],Cafes,Banashankari
11,"941, 3rd FLOOR, 21st Main, 22nd Cross, Banasha...",Cafe Shuffle,Yes,Yes,4.2/5,150,Banashankari,Cafe,"Cafe, Italian, Continental",600,"[('Rated 1.0', ""RATED\n \n\nHorrible. Not even...",[],Cafes,Banashankari
12,"6th Block, 3rd Stage, Banashankari, Bangalore",The Coffee Shack,Yes,Yes,4.2/5,164,Banashankari,Cafe,"Cafe, Chinese, Continental, Italian",500,"[('Rated 4.0', ""RATED\n Food - 4/5\nAmbience ...",[],Cafes,Banashankari
13,"111, Sapphire Toys Building, 100 Feet Ring Roa...",Caf-Eleven,No,No,4.0/5,424,Banashankari,Cafe,"Cafe, Continental",450,"[('Rated 2.0', ""RATED\n This is a hookah cafe...",[],Cafes,Banashankari
14,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Cafes,Banashankari
15,"2303, 21st Cross, K R Road, 2nd Stage, Banasha...",Cafe Vivacity,Yes,No,3.8/5,90,Banashankari,Cafe,Cafe,650,"[('Rated 2.0', 'RATED\n Not so good place as ...",[],Cafes,Banashankari
16,"241, 4th Floor, 100 Feet Ring Road, Opposite K...",Catch-up-ino,Yes,No,3.9/5,133,Banashankari,Cafe,"Cafe, Fast Food, Continental, Chinese, Momos",800,"[('Rated 1.0', ""RATED\n This place is right o...",[],Cafes,Banashankari
17,"405, 24th Cross, 9th Main, 2nd Stage, Banashan...",Kirthi's Biryani,Yes,No,3.8/5,144,Banashankari,Cafe,"Chinese, Cafe, Italian",700,"[('Rated 3.0', ""RATED\n New place.. though it...",[],Cafes,Banashankari
18,"504, CJ Venkata Das Road, Padmanabhangar, 2nd ...",T3H Cafe,No,No,3.9/5,93,Banashankari,Cafe,"Cafe, Italian, American",300,"[('Rated 4.0', ""RATED\n Happy to see such a c...",[],Cafes,Banashankari
19,"47, 48 &49, 3Rd Floor, 21st Main Road, 2nd Sta...",360 Atoms Restaurant And Cafe,Yes,No,3.1/5,13,Banashankari,Cafe,"Cafe, Chinese, Continental, Italian",400,"[('Rated 5.0', 'RATED\n Friendly staffs , nic...",[],Cafes,Banashankari
20,"146, 50 ft Road, 3rd Phase, 3rd Stage, Near Ka...",The Vintage Cafe,Yes,No,3.0/5,62,Banashankari,Cafe,"Cafe, French, North Indian",400,"[('Rated 2.0', ""RATED\n This is a tiny cafÃ\...",[],Cafes,Banashankari
21,"3353, 2nd Cross, Opposite Auden School, Hosker...",Woodee Pizza,Yes,No,3.7/5,180,Banashankari,Cafe,"Cafe, Pizza, Fast Food, Beverages",500,"[('Rated 3.0', 'RATED\n Decided to take a bre...",[],Cafes,Banashankari
22,"SRF Complex, Near BDA Complex, Kathreguppe Mai...",Cafe Coffee Day,No,No,3.6/5,28,Banashankari,Cafe,"Cafe, Fast Food",900,"[('Rated 4.0', 'RATED\n This outlet is better...",[],Cafes,Banashankari
23,"224/Y, 4th Phase, 7th Block, 100 Feet Ring Roa...",My Tea House,Yes,No,3.6/5,62,Banashankari,"Quick Bites, Cafe","Italian, Fast Food, Cafe, European",600,"[('Rated 4.0', ""RATED\n So, went here with fr...",[],Cafes,Banashankari
24,"775/1, Opposite Gupta Collage, 7th Block, 3rd ...",Hide Out Cafe,No,No,3.7/5,31,Banashankari,Cafe,Cafe,300,"[('Rated 4.0', 'RATED\n The food was quite go...",[],Cafes,Banashankari
25,"101, Water Tank Road, 2nd Block, 3rd Stage, Ba...",CAFE NOVA,No,No,3.2/5,11,Banashankari,Cafe,"Cafe, Bakery",600,"[('Rated 1.0', ""RATED\n No ventilation. Smoke...",[],Cafes,Banashankari
26,"27th Cross Rd, Banashankari Stage II, Banashan...",Coffee Tindi,Yes,No,3.8/5,75,Banashankari,"Cafe, Quick Bites","Cafe, South Indian",200,"[('Rated 5.0', 'RATED\n please provide some e...",[],Cafes,Banashankari
27,"1036, Srinidhi Plaza, 3rd floor, Above Nilgiri...",Sea Green Cafe,No,No,3.3/5,4,Banashankari,Cafe,"Cafe, Fast Food, Beverages",500,"[('Rated 5.0', 'RATED\n Newly opened cafe nea...",[],Cafes,Banashankari
28,"940, Shantha Complex, 20th Main, 2nd Stage, Ba...",Cuppa,No,No,3.3/5,23,Banashankari,Cafe,"Cafe, Fast Food",550,"[('Rated 1.5', 'RATED\n This place was good t...",[],Cafes,Banashankari
29,"112, Bull Temple Road,next to more Basavanagud...",Srinathji's Cafe,No,No,3.8/5,148,Basavanagudi,"Casual Dining, Cafe","North Indian, Cafe, Chinese, Fast Food",550,"[('Rated 5.0', 'RATED\n No words for the pane...",[],Cafes,Banashankari
30,"30, Surveyor Street, DVG Road, Basavanagudi, B...",Redberrys,Yes,No,4.0/5,219,Basavanagudi,Cafe,"Cafe, Italian",600,"[('Rated 4.0', ""RATED\n Redberrys will provid...",[],Cafes,Banashankari
31,"2/1, 7th Main, Dwarakangar, Hosakeregalli, Ban...",Foodiction,Yes,No,2.8/5,506,Banashankari,Quick Bites,"North Indian, Fast Food, Chinese, Burger",500,"[('Rated 1.0', ""RATED\n Worst restaurant ever...",[],Delivery,Banashankari
32,"101 Ground Floor, Manjunatha Complex, 22nd Mai...",Sweet Truth,Yes,No,3.9/5,35,Banashankari,Delivery,"Bakery, Desserts",500,"[('Rated 4.0', 'RATED\n I had the opportunity...","['Chocolate Fantasy (Pack Of 5)', 'Pan Cake (P...",Delivery,Banashankari
33,"101, Ground Floor, Manjunatha Complex, 22nd Ma...",Ovenstory Pizza,Yes,No,3.9/5,172,Banashankari,Delivery,Pizza,750,"[('Rated 4.0', 'RATED\n Stumbled upon this on...",[],Delivery,Banashankari
34,"80, BDA Complex, 2nd Stage, Banashankari, Bang...",Faasos,Yes,No,4.2/5,415,Banashankari,Quick Bites,"North Indian, Biryani, Fast Food",500,"[('Rated 3.0', 'RATED\n Not worth for the mon...","['Chole Kulcha Meal', 'Upvas Aloo Paratha With...",Delivery,Banashankari
35,"101, Ground Floor, Manjunatha Complex, 22nd Ma...",Behrouz Biryani,Yes,No,3.9/5,230,Banashankari,Delivery,Biryani,650,"[('Rated 1.0', ""RATED\n Had ordered 'Zaikedaa...",[],Delivery,Banashankari
36,"32, 7th Main Road, Dwaraka Nagar,Near PES Coll...",Fast And Fresh,Yes,No,2.8/5,91,Banashankari,Quick Bites,"North Indian, Chinese, Fast Food",400,"[('Rated 1.0', 'RATED\n Half baked rice in a ...",[],Delivery,Banashankari
37,"8, 2nd Floor, 1st Main, Arush Trapeze, Mount J...",Szechuan Dragon,Yes,No,4.2/5,1647,Banashankari,Casual Dining,"Chinese, Thai, Momos",600,"[('Rated 4.0', 'RATED\n Located near BMS coll...",[],Delivery,Banashankari
38,"4, Opposite NMKRV College, 21st C Cross Road, ...",Empire Restaurant,Yes,No,4.4/5,4884,Jayanagar,Casual Dining,"North Indian, Mughlai, South Indian, Chinese",750,"[('Rated 3.0', 'RATED\n Grill and tandoori is...",[],Delivery,Banashankari
39,"556/A, Water Tank Road, 3rd Stage, Banashankar...",Maruthi Davangere Benne Dosa,Yes,No,4.0/5,17,Banashankari,Quick Bites,South Indian,150,"[('Rated 5.0', ""RATED\n This restaurant serve...","['Benne Dosa', 'Benne Masala Dosa', 'Benne Kal...",Delivery,Banashankari
40,"39, 3rd Main,4th Cross, Hanumanth Nagar, Near,...",Chaatimes,Yes,No,3.8/5,133,Basavanagudi,Quick Bites,"Street Food, Fast Food",200,"[('Rated 4.0', 'RATED\n Ordered pack of dabel...",[],Delivery,Banashankari
41,"Opp Vinayaka hospital, Near Seetha Circle , 80...",Havyaka Mess,No,No,3.9/5,28,Banashankari,Mess,South Indian,300,"[('Rated 4.0', 'RATED\n Food is good.very hom...",[],Delivery,Banashankari
42,"2466, Bhaskar Grand Tower, 24th Cross, Opposit...",McDonald's,Yes,No,3.9/5,286,Banashankari,Quick Bites,"Burger, Fast Food",500,"[('Rated 4.0', 'RATED\n Perfect place to have...",[],Delivery,Banashankari
43,"645, 1st Floor, 24th Cross, 24th Main, 2nd Sta...",Domino's Pizza,Yes,No,3.9/5,540,Banashankari,Quick Bites,"Pizza, Fast Food",800,"[('Rated 3.0', ""RATED\n I visit regularly wit...",[],Delivery,Banashankari
44,"2469, 3rd Floor, 24th Cross, Opposite BDA Comp...",Onesta,Yes,Yes,4.6/5,2556,Banashankari,"Casual Dining, Cafe","Pizza, Cafe, Italian",600,"[('Rated 5.0', 'RATED\n I personally really l...",[],Delivery,Banashankari
45,"2nd Stage, Banashankari, Bangalore",Hotboxit,No,No,3.8/5,36,Banashankari,Delivery,"North Indian, Continental, Italian",400,"[('Rated 2.0', 'RATED\n late delivery'), ('Ra...",[],Delivery,Banashankari
46,"1750, 14th Main, Police Station Road, Kumarasw...",Kitchen Garden,Yes,No,3.6/5,244,Kumaraswamy Layout,Quick Bites,"North Indian, Chinese",300,"[('Rated 3.0', 'RATED\n We ordered two Indian...","['3 Poori with Subji', 'Chole Bhature [2 Piece...",Delivery,Banashankari
47,"1621, 1st Floor, 50 Feet Main Road, Kumaraswam...",Recipe,Yes,No,4.0/5,804,Kumaraswamy Layout,Casual Dining,"North Indian, Chinese, Biryani, Rolls",450,"[('Rated 3.0', ""RATED\n Ordered Paneer meal v...","['Veg Fried Rice', 'Egg Fried Rice', 'Chicken ...",Delivery,Banashankari
48,"179, 1st Floor, Jawarlalnehru Road, BEML Layou...",Beijing Bites,Yes,No,3.7/5,679,Rajarajeshwari Nagar,Casual Dining,"Chinese, Thai",850,"[('Rated 3.0', 'RATED\n IÃ\x83Ã\x83Ã\x82Ã...",[],Delivery,Banashankari
49,"1607, Sagar Hospital Road, Near Dayanandasagar...",Tasty Bytes,Yes,No,3.1/5,245,Kumaraswamy Layout,Quick Bites,"North Indian, Chinese, Momos, Rolls",300,"[('Rated 3.0', 'RATED\n not a very nice place...","['Veg Dal Fry', 'Chicken Chaap', 'Dehati Chick...",Delivery,Banashankari

In [7]:
df.duplicated().sum()

43

In [8]:
df[df.duplicated()]

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
596,"572, 30th Main, 3rd Stage, Banashankari, Banga...",My Tea House,Yes,Yes,NEW,0,Banashankari,Casual Dining,"Continental, Asian, North Indian, Tea",500,"[('Rated 4.0', ""RATED\n So apparently I visit...","['MTH Signature Soup', 'Minestrone Veg', 'Broc...",Dine-out,Banashankari
7599,"17, Thubarahalli Village, Hobli, Varthur Main ...",Nawab Di Biryani,Yes,No,NEW,0,Whitefield,"Takeaway, Delivery","Biryani, Mughlai",400,"[('Rated 4.0', 'RATED\n Ordered paneer tikka ...","['Paneer Tikka Biryani', 'Veg Lucknowi Biryani...",Delivery,Brookefield
9464,"744, 13th Main, 7th Cross, BTM 2nd Stage, BTM,...",Vyanjan,Yes,No,3.9/5,201,BTM,Quick Bites,"North Indian, Street Food",300,"[('Rated 3.0', ""RATED\n Nice place, it's for ...","['Jeera Rice', 'Khichdi', 'Plain Tawa Roti', '...",Delivery,BTM
9466,"607, First Floor, 80 Feet Road, 6th Block, Kor...",Carrots,Yes,Yes,4.1/5,600,Koramangala 6th Block,Casual Dining,"Italian, North Indian, Healthy Food, Desserts","1,100","[('Rated 5.0', ""RATED\n It's the first vegan ...",[],Delivery,BTM
9467,"Building 58, New 3, A Main Road Marenahalli, J...",Eatsomnia,Yes,No,NEW,0,JP Nagar,Delivery,"North Indian, South Indian, Chinese, Continental",500,"[('Rated 1.0', ""RATED\n The worst food I ate ...",[],Delivery,BTM
9468,"6th Cross Road, Koramangala 6th Block, Bangalore",Rolls & Co,Yes,No,3.9/5,213,Koramangala 6th Block,Quick Bites,"Burger, Beverages, Rolls",400,"[('Rated 2.0', 'RATED\n Order : Peri Peri Fri...",[],Delivery,BTM
9469,"10, Opposite Forum Mall, Taverekere, Suddagunt...",Fogg,No,Yes,NEW,0,BTM,Quick Bites,"Fast Food, Chinese",200,"[('Rated 5.0', 'RATED\n Seafood soup - A Thai...",[],Delivery,BTM
9470,"Koramangala 1st Block, Bangalore",The Paratha Stories,Yes,No,3.3/5,36,Koramangala 1st Block,Delivery,North Indian,400,"[('Rated 3.0', 'RATED\n There is enough scope...",[],Delivery,BTM
9471,"29, 7th Cross Road, Bhavani Nagar, Suddagunte ...",Mycakeshop,Yes,No,NaN,0,BTM,Bakery,"Bakery, Desserts",300,"[('Rated 5.0', 'RATED\n I loved cake nice tru...","['Red Velvet Cake', 'Truffle Chocolate Cake', ...",Delivery,BTM
9549,"51, 5th Main, 60 Feet Road, BNG Homestay Build...",Bisimillah Biriyani,No,No,3.5/5,11,BTM,Quick Bites,"Biryani, Fast Food",300,"[('Rated 4.0', 'RATED\n Very delicious food @...",[],Delivery,BTM
9638,"51, 5th Main, 60 Feet Road, BNG Homestay Build...",Bisimillah Biriyani's & Kebab's,No,No,3.3/5,6,BTM,Quick Bites,"Biryani, Fast Food",300,[],[],Delivery,BTM
12287,"Q Court, 3rd Floor, Garuda Mall, Magarth Road,...",China South,Yes,No,NaN,0,Brigade Road,Casual Dining,"Chinese, Tibetan",600,"[('Rated 4.0', 'RATED\n Been at this place tw...","['Egg Fried Rice', 'Chicken American Chopsuey'...",Delivery,Church Street
12288,"24/48, M Road Benson Town Frazer Town, Bangalore",Chination,No,No,NaN,0,Frazer Town,Delivery,Chinese,600,[],[],Delivery,Church Street
12289,"Garuda Mall, 3rd Floor, 15 Magrath Road, Craig...",Desi Streat,Yes,No,NaN,0,Brigade Road,Food Court,"South Indian, Street Food",400,"[('Rated 1.0', ""RATED\n Try asking for combo....","['Sambar Idli', 'Moong Chilla with Paneer Bhur...",Delivery,Church Street
12290,"KH Marigowda Road, Near Hopcoms Complex, Shant...",Durga Sagar,Yes,No,3.3/5,8,Shanti Nagar,Quick Bites,South Indian,150,"[('Rated 4.0', 'RATED\n Ordered Anna sambar.....","['4 Pakoda', 'Green Salad', 'Cucumber Salad', ...",Delivery,Church Street
12291,"34/2, Meaner Avenue Tank Road, Near Ulsoor Lak...",Happy Fillings,Yes,No,3.4/5,8,Ulsoor,Quick Bites,Chinese,300,"[('Rated 5.0', 'RATED\n A Good take away Chin...",[],Delivery,Church Street
12292,"25, Gover Road, Cox Town, Frazer Town, Bangalore",Marathi Biriyani House,Yes,No,3.3/5,6,Frazer Town,Quick Bites,"South Indian, Biryani",300,"[('Rated 4.0', 'RATED\n Happened to just come...",[],Delivery,Church Street
12294,"19, Saunder Road, Opposite Seventh Day Hospita...",Kareem's,Yes,No,3.6/5,32,Frazer Town,Quick Bites,"North Indian, Mughlai",700,"[('Rated 4.0', 'RATED\n Seen this restaurant ...","['Kareen Special Murgh Tandoori', 'Gosht Seekh...",Delivery,Church Street
12296,"307, Thimmaiah Rd, Govinda Chetty Colony, Shiv...",Aubree,Yes,No,NaN,0,Shivajinagar,"Cafe, Bakery","Cafe, Bakery",400,"[('Rated 5.0', ""RATED\n Aubree has become a v...","['Strawberry Macarons [Box of 5]', 'Lite Touch...",Delivery,Church Street
12303,"1, High Street, Cooke Town, Frazer Town, Banga...",Mudaliar's Kitchen,Yes,No,NaN,0,Frazer Town,Delivery,South Indian,500,[],[],Delivery,Church Street
12314,"19/1, Queen's Road Cross, Munniswamy Road, Nea...",Ta'aam,Yes,No,4.1/5,402,Cunningham Road,Casual Dining,"North Indian, Mughlai, Arabian, Chinese",750,"[('Rated 4.0', ""RATED\n For all gluttons out ...",[],Delivery,Church Street
12322,"Alpine Annexed Apartment, Near ICICI Bank, Sha...",Promac Foods,Yes,No,NEW,0,Shanti Nagar,"Takeaway, Delivery","North Indian, South Indian",250,[],[],Delivery,Church Street
12347,"Plot 62, Nanjappa Layout, Adugodi Main Road, A...",Ascharya Hotel,Yes,No,3.4/5,11,Koramangala 5th Block,Quick Bites,"Mangalorean, South Indian",300,"[('Rated 3.0', 'RATED\n I would say that thei...",[],Delivery,Church Street
13442,"Opposite Velankani Gate number 2, Doddathoguru...",Lassi Adda,Yes,No,4.0/5,65,Electronic City,Beverage Shop,"Beverages, Sandwich, Fast Food",200,"[('Rated 4.0', 'RATED\n My favourite go to pl...",[],Delivery,Electronic City
13467,"65, TS Arcade, Next To Michelin Tyre Centre, C...",Sitaar,Yes,Yes,3.8/5,88,Electronic City,Casual Dining,"North Indian, Chinese",800,"[('Rated 5.0', ""RATED\n Really good food and ...",[],Delivery,Electronic City
17655,"Opposite Sri Subramanya Swamy Temple, Next to ...",New Taj,Yes,No,3.3/5,110,Ulsoor,Quick Bites,"North Indian, Chinese",300,"[('Rated 2.0', ""RATED\n It's my nature to try...",[],Delivery,Indiranagar
20236,"746, 7th cross, 13th Main, BTM, Bangalore",Funky Punjab,Yes,No,3.8/5,125,BTM,Quick Bites,"North Indian, Chinese",400,"[('Rated 3.0', ""RATED\n Wasn't as great as we...",[],Delivery,Jayanagar
20836,"36, Jaya Bheema Nagar, Layout 1, BTM, Bangalore",La Passion Cafe,Yes,No,NaN,0,BTM,Cafe,Cafe,500,[],[],Delivery,Jayanagar
20851,"3,11th Cross, Maruthi Nagar, 1st Stage, BTM, B...",Royal's Biryani,Yes,No,NaN,0,BTM,Quick Bites,Biryani,300,"[('Rated 4.0', 'RATED\n An amazing biryani pl...",[],Delivery,Jayanagar
20852,"14, Tank Shore Road, Kuvempu Nagar, Stage 2, B...",Tandoor Nation,Yes,No,3.0/5,39,BTM,Quick Bites,"North Indian, Chinese",400,"[('Rated 3.0', 'RATED\n Calm, cozy and open s...","['Chicken Curry', 'Chicken Pepper Dry', 'Chick...",Delivery,Jayanagar
20853,"242, 7th Main, Mico Layout, BTM, Bangalore",Indian Kitchen Eateries-IKE,Yes,No,3.4/5,8,BTM,Quick Bites,Fast Food,150,"[('Rated 5.0', 'RATED\n One of the best snack...",[],Delivery,Jayanagar
26434,"10, Babasabarapalya, Near Panchamukhi Ganesha ...",The Bridge Walk Cafe,No,No,3.8 /5,74,Kengeri,Cafe,"Cafe, Continental",500,"[('Rated 3.0', 'RATED\n This cafe opened up f...",[],Dine-out,Kammanahalli
28139,"1086/A, Twin Tulips, 18th Cross, 14th Main Roa...",Wedding Biryani,No,No,NEW,0,HSR,Quick Bites,"Biryani, Kebab",600,[],[],Delivery,Koramangala 4th Block
37692,"Ashraya Hotel, 149, Infantry Road, Bangalore",The Oriental Spice - Ashraya Hotel,Yes,No,3.9 /5,158,Infantry Road,Casual Dining,"Chinese, Thai, Indonesian","1,300","[('Rated 4.0', 'RATED\n Had been there for a ...","['Sour Pepper Soup', 'Chicken Cantonese Style'...",Buffet,Lavelle Road
38109,"99, 3rd Main Road, Hanumanthnagar, Banashankar...",Sai Super Sandwich,Yes,No,NEW,0,Banashankari,Quick Bites,"Sandwich, Beverages",200,[],[],Delivery,Lavelle Road
38585,"Level 2, The Collection, UB City, Vithal Mally...",Rasovara,Yes,Yes,4.3 /5,772,Lavelle Road,Casual Dining,"Rajasthani, North Indian","1,400","[('Rated 4.0', 'RATED\n The problem here is a...",[],Dine-out,Lavelle Road
41404,"168/4, Ward 57, Abbaiah Reddy, Layout Main Roa...",Andhra Express,Yes,No,3.7 /5,19,CV Raman Nagar,"Takeaway, Delivery","Andhra, Biryani, North Indian, Beverages",300,"[('Rated 5.0', 'RATED\n Amazing take away / h...",[],Delivery,Marathahalli
42312,"12/1, Swami Vivekananda Road, Jayaraj Nagar, S...",Shahi Family Restaurant,Yes,No,3.2 /5,88,Ulsoor,Quick Bites,"North Indian, Chinese, South Indian",350,"[('Rated 3.0', 'RATED\n Tried chicken biriyan...","['Veg Chinese Combo', 'Non Veg Chinese Combo',...",Delivery,MG Road
42343,"Money Chambers Double Road, Shanti Nagar, Bang...",Red Onion,Yes,Yes,4.2 /5,570,Shanti Nagar,Casual Dining,"Chinese, North Indian, Biryani, Kebab","1,200","[('Rated 5.0', 'RATED\n Was wandering around ...","['Paneer Makhani', 'Hyderabadi Biryani', 'Spec...",Delivery,MG Road
43354,"36, Vittal Mallya Road, Lavelle Road, Bangalore",Bootlegger,No,No,4.1 /5,1545,Lavelle Road,Pub,"Continental, Steak","1,200","[('Rated 2.0', 'RATED\n Bootlegger is undoubt...",[],Dine-out,MG Road
43369,"Chancery Pavilion, 135, Residency Road, Bangalore",Ithaca - The Chancery Pavilion,No,Yes,3.9 /5,312,Residency Road,Fine Dining,"North Indian, Italian, European, Continental","2,000","[('Rated 3.0', 'RATED\n The food was good\nTh...",[],Dine-out,MG Road
46118,"1200, 100 Feet Road, HAL 2nd Stage, Indiranaga...",Boozers Bar & Kitchen,No,No,4.3 /5,700,Indiranagar,"Bar, Casual Dining","Continental, Burger, Italian, Pizza, North Ind...",NaN,"[('Rated 2.0', 'RATED\n A relatively new. I g...",[],Pubs and bars,Old Airport Road
50904,"17, Thubarahalli Village, Hobli, Varthur Main ...",Nawab Di Biryani,Yes,No,NEW,0,Whitefield,"Takeaway, Delivery","Biryani, Mughlai",400,"[('Rated 3.0', 'RATED\n Biriyani had ordered ...",[],Delivery,Whitefield

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df[df.duplicated()]

Empty DataFrame
Columns: [address, name, online_order, book_table, rate, votes, location, rest_type, cuisines, approx_cost(for two people), reviews_list, menu_item, listed_in(type), listed_in(city)]
Index: []

In [11]:
df.isnull().sum()

address                           0
name                              0
online_order                      0
book_table                        0
rate                           7767
votes                             0
location                         21
rest_type                       227
cuisines                         45
approx_cost(for two people)     345
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [12]:
df.dropna(inplace=True)

In [13]:
df.isnull().sum()

address                        0
name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
location                       0
rest_type                      0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
menu_item                      0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [14]:
df.rename(columns={'approx_cost(for two people)':'cost','listed_in(type)':'type', 'listed_in(city)':'city'}, inplace=True)

In [15]:
df.head(2)

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari

In [16]:
df.dtypes

address         object
name            object
online_order    object
book_table      object
rate            object
votes            int64
location        object
rest_type       object
cuisines        object
cost            object
reviews_list    object
menu_item       object
type            object
city            object
dtype: object

In [17]:
df.cost=df.cost.astype(str)
df.cost=df.cost.apply(lambda x: x.replace(',','.'))
df.cost=df.cost.astype(float)

In [18]:
df.dtypes

address          object
name             object
online_order     object
book_table       object
rate             object
votes             int64
location         object
rest_type        object
cuisines         object
cost            float64
reviews_list     object
menu_item        object
type             object
city             object
dtype: object

In [19]:
df.rate.unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [20]:
#df.rate=df.rate.astype(str)
#df.rate=df.rate.apply(lambda x: x.replace("/5",""))
#df.rate=df[~(df.rate=='NEW')]
#df.rate=df[~(df.rate=='-')]
#df.rate.unique()
#df.shape

In [21]:
df = df.loc[df.rate !='NEW']
df = df.loc[df.rate !='-'].reset_index(drop=True)
remove_slash = lambda x: x.replace('/5', '') if type(x) == np.str else x
df.rate = df.rate.apply(remove_slash).str.strip().astype('float')

In [22]:
df.rate.unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2, 2.3,
       4.8, 4.9, 2.1, 2. , 1.8])

In [23]:
df.shape

(41237, 14)

In [24]:
df.head(2)

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari

In [25]:
df.name = df.name.apply(lambda x:x.title())
df.online_order.replace(('Yes','No'),(True, False),inplace=True)
df.book_table.replace(('Yes','No'),(True, False),inplace=True)

In [26]:
df.head(2)

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,True,True,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,True,False,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari

In [27]:
restaurants = list(df['name'].unique())
df['Mean Rating'] = 0
for i in range(len(restaurants)):
    df['Mean Rating'][df['name'] == restaurants[i]] = df['rate'][df['name'] == restaurants[i]].mean()

In [28]:
df.head(2)

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city,Mean Rating
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,True,True,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari,4.118182
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,True,False,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari,4.100000

In [29]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(1,5))
df[['Mean Rating']]=scaler.fit_transform(df[['Mean Rating']]).round(2)

In [30]:
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city,Mean Rating
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,True,True,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari,3.99
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,True,False,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari,3.97
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,True,False,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari,3.58
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,False,False,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari,3.45
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,False,False,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari,3.58

Now the next step is to perform some text preprocessing steps which include:

Lower casing
Removal of Punctuations
Removal of Stopwords
Removal of URLs
Spelling correction

In [31]:
df.reviews_list=df.reviews_list.str.lower()

In [32]:
df.head(2)

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city,Mean Rating
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,True,True,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('rated 4.0', 'rated\n a beautiful place to ...",[],Buffet,Banashankari,3.99
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,True,False,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('rated 4.0', 'rated\n had been here for din...",[],Buffet,Banashankari,3.97

In [33]:
import string
PUNCT_TO_REMOVE=string.punctuation

In [34]:
PUNCT_TO_REMOVE

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [35]:
def remove_pun(text):
    return text.translate(str.maketrans('','', PUNCT_TO_REMOVE))

In [36]:
text='my ! is % Dilip * Kumar'
remove_pun(text)

'my  is  Dilip  Kumar'

In [37]:
df.reviews_list=df['reviews_list'].apply(lambda text:remove_pun(text))

In [38]:
df.head(2)

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city,Mean Rating
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,True,True,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,rated 40 ratedn a beautiful place to dine int...,[],Buffet,Banashankari,3.99
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,True,False,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,rated 40 ratedn had been here for dinner with...,[],Buffet,Banashankari,3.97

In [39]:
df[['reviews_list', 'cuisines']].head(5)

,reviews_list,cuisines
0,rated 40 ratedn a beautiful place to dine int...,"North Indian, Mughlai, Chinese"
1,rated 40 ratedn had been here for dinner with...,"Chinese, North Indian, Thai"
2,rated 30 ratedn ambience is not that good eno...,"Cafe, Mexican, Italian"
3,rated 40 ratedn great food and proper karnata...,"South Indian, North Indian"
4,rated 40 ratedn very good restaurant in neigh...,"North Indian, Rajasthani"

In [40]:
def remove_urls(text):
    url_pattern =re.compile(r'https?://\s+|ww\.\s+')
    return url_pattern.sub(r'',text)

In [41]:
import re
df.reviews_list=df.reviews_list.apply(lambda text: remove_urls(text))

In [42]:
df[['reviews_list', 'cuisines']].head(5)

,reviews_list,cuisines
0,rated 40 ratedn a beautiful place to dine int...,"North Indian, Mughlai, Chinese"
1,rated 40 ratedn had been here for dinner with...,"Chinese, North Indian, Thai"
2,rated 30 ratedn ambience is not that good eno...,"Cafe, Mexican, Italian"
3,rated 40 ratedn great food and proper karnata...,"South Indian, North Indian"
4,rated 40 ratedn very good restaurant in neigh...,"North Indian, Rajasthani"

In [43]:
# RESTAURANT NAMES:
restaurant_names = list(df['name'].unique())
def get_top_words(column, top_nu_of_words, nu_of_word):
    vec = CountVectorizer(ngram_range= nu_of_word, stop_words='english')
    bag_of_words = vec.fit_transform(column)
    sum_words = bag_of_words.sum(axis=0)
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:top_nu_of_words]
    
df=df.drop(['address','rest_type', 'type', 'menu_item', 'votes'],axis=1)
import pandas

# Randomly sample 60% of your dataframe
df_percent = df.sample(frac=0.5)

TF-IDF Vectorization
TF-IDF (Term Frequency-Inverse Document Frequency) vectors for each document. This will give you a matrix where each column represents a word in the general vocabulary (all words that appear in at least one document) and each column represents a restaurant, as before.

TF-IDF is the statistical method of assessing the meaning of a word in a given document. Now, I will use the TF-IDF vectorization on the dataset:

In [44]:
df_percent.set_index('name', inplace=True)
indices = pd.Series(df_percent.index)

# Creating tf-idf matrix
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_percent['reviews_list'])

cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

MemoryError: Unable to allocate 3.00 GiB for an array with shape (402042601,) and data type float64

In [ ]:
def recommend(name, cosine_similarities = cosine_similarities):
    
    # Create a list to put top restaurants
    recommend_restaurant = []
    
    # Find the index of the hotel entered
    idx = indices[indices == name].index[0]
    
    # Find the restaurants with a similar cosine-sim value and order them from bigges number
    score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)
    
    # Extract top 30 restaurant indexes with a similar cosine-sim value
    top30_indexes = list(score_series.iloc[0:31].index)
    
    # Names of the top 30 restaurants
    for each in top30_indexes:
        recommend_restaurant.append(list(df_percent.index)[each])
    
    # Creating the new data set to show similar restaurants
    df_new = pd.DataFrame(columns=['cuisines', 'Mean Rating', 'cost'])
    
    # Create the top 30 similar restaurants with some of their columns
    for each in recommend_restaurant:
        df_new = df_new.append(pd.DataFrame(df_percent[['cuisines','Mean Rating', 'cost']][df_percent.index == each].sample()))
    
    # Drop the same named restaurants and sort only the top 10 by the highest rating
    df_new = df_new.drop_duplicates(subset=['cuisines','Mean Rating', 'cost'], keep=False)
    df_new = df_new.sort_values(by='Mean Rating', ascending=False).head(10)
    
    print('TOP %s RESTAURANTS LIKE %s WITH SIMILAR REVIEWS: ' % (str(len(df_new)), name))
    
    return df_new
recommend('Pai Vihar')